extends layout

block content

  aside.right 
    
      ul 
        li(value = "st_num")
        li(value = "st_name") 
        li(value = "st_dept") 
        li(value = "st_grade") 
        li(value = "st_tel") 
        li(value = "st_addr") 
      table.subject 
        thead 
          tr 
            th 과목명
            th 점수
          
          tbody 
            
            tr 
              td(value = "su_name") 
              td(value = "r_score")