extends ../layout

block content
    link(rel="stylesheet", href="/css/input.css")
    script(src="/js/input.js")
    script(src="/js/list.js")
    form.book(method="POST")
        div.inputBox
            input(name="bk_isbn", placeholder="ISBN")
            div.input.error.isbn
            input(name="bk_title", placeholder="도서명")
            div.input.error.title
            input(name="bk_publisher", placeholder="출판사")
            input(name="bk_author", placeholder="저자")
            input(placeholder="역자")
            input(name="bk_price", placeholder="가격")
            div.input.error.price
            input(name="bk_discount", placeholder="할인가")
            input(placeholder="발행일")
            input(placeholder="페이지")
            input(placeholder="메모")
            

            div.btn_box
                button#save(type="button").btn_box 저장
                button#new(type="button").btn_box() 새로작성
                a(href="list")  
                    button#list(type="button").btn_box() 리스트보기