h1 {
  text-align: center;
}

.products {
  width: 80%;
  margin: 5px auto;
}

table.products {
  border-collapse: collapse;
}

td {
  cursor: pointer;
}
th,
td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 12px 16px;
  text-align: center;
}
th {
  border-top: 1px solid #bbb;
  background-color: #eee;
}

tr:nth-of-type(odd) {
  background-color: #eee;
}
tr:hover {
  background-color: #ddd;
}

th:nth-last-of-type(1),
td:nth-last-of-type(1) {
  border-right: 0;
}

div.btnBox {
  display: flex;

  margin: 10px auto;
  width: 80%;
}
input,
button {
  border-radius: 10px;
  outline: none;
}
input.input {
  padding: 10px;
  margin-left: auto;
  margin-right: 10px;
}
button.search {
}
button.add {
  margin-left: auto;
}

/* div.btnBox
input.input(type="text")
button.search 상품조회
button.add 상품추가 */
