a {
  text-decoration: none;
  color: white;
}
div.inputBox {
  width: 80%;
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  outline: none;
  border: 1px solid #bbb;
  text-align: center;
}
div input {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

div.btn_box {
  /* display: inline-block; */

  padding: 16px;
  text-align: right;
}
div.btn_box button {
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
div.btn_box button:nth-of-type(1) {
  background-color: rgb(97, 97, 202);
  transition: 0.7s;
}
div.btn_box button:nth-of-type(1):hover {
  background-color: rgb(140, 140, 196);
}
div.btn_box button:nth-of-type(2) {
  background-color: rgb(187, 94, 94);
  transition: 0.7s;
}
div.btn_box button:nth-of-type(2):hover {
  background-color: rgb(201, 141, 141);
}
#list {
  background-color: rgb(211, 211, 87);
  transition: 0.7s;
}
#list:hover {
  background-color: rgb(226, 226, 169);
}
